<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
  <title>Shedule</title>

</head>

<body>
  <div id="board">
    <nav class="navbar navbar-expand-lg navbar-light" id="navb">
      <a class="navbar-brand" href="#"><span>{{nav.title}}</span></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">{{nav.home}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="chwindow()">{{nav.complet}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{nav.work}}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div>
      <div v-if="inprogress">

        <ticket v-for="tick in ticketsP" :ticketdata="tick" :key="tick.id"></ticket>

        <div class="tik newtik">
          <p>
            +
          </p>
          <div>
            <div class="time">
              --:--:-- s
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0">+</button>
            <button class="btn btn-outline-success my-2 my-sm-0">&#10003</button>
          </div>
        </div>
      </div>
      <div v-else>

      <ticket v-for="tick in ticketsC" :ticketdata="tick" :key="tick.id"></ticket>

      </div>
    </div>
  </div>
  <footer> Viky Servaint v 0.0.1</footer>
  <script src="./js/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>